#btn-biofiltro{
    position: absolute;
    top: 70.9%;
    left: 2.4%;
    height: 8.1%;
    width: 8.5%;
    visibility: hidden;
}

#btn-bomba{
    position: absolute;
    top: 43.7%;
    left: 1.8%;
    height: 13.5%;
    width: 10%;
    border-radius: 50%;
    visibility: hidden;
}

#btnCama1{
    position: absolute;
    top: 19.5%;
    left: 13.6%;
    height: 6.2%;
    width: 13.4%;
    font-family: source-sans-pro,sans-serif;
    visibility: hidden;
}

#btnCama2{
    position: absolute;
    top: 28%;
    left: 13.6%;
    height: 6.2%;
    width: 13.4%;
    font-family: source-sans-pro,sans-serif;
    visibility: hidden;
}

#btnCama3{
    position: absolute;
    top: 36.4%;
    left: 13.6%;
    height: 6.2%;
    width: 13.4%;
    font-family: source-sans-pro,sans-serif;
    visibility: hidden;
}

#btnComprarAlevines{
    position: absolute;
    top: 63%;
    left: 15%;
    height: 6.2%;
    width: 8%;
    font-family: source-sans-pro,sans-serif;
    visibility: hidden;
}

#btn-continuar{
    background-color: #eef3c0;
    font-family: source-sans-pro,sans-serif;
    font-size: 140%;
    border-radius: 15px;
}

#btn-dinero{
    top: 12%;
    left: 75.4%;
    height: 18%;
    width: 23.3%;
    visibility: hidden;
    border-color: transparent;
}

#btn-inicio{
    font-family: source-sans-pro,sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 300%;
    margin-bottom: 0 !important;
    text-align: center;
}

#btn-silo{
    top: 12%;
    left: 50%;
    height: 18%;
    width: 24.5%;
    visibility: hidden;
    border-color: transparent;
}

#columna-izquierda{
    background-color: #ead32e;
    height: 100%;
    width: auto;
}

.contador-inferior{
    font-size: 5vh;
    margin-bottom: 9%;
    margin-left: 22%;
}

.contador-superior{
    font-size: 5vh;
    position: absolute;
}

#dinero{
    top: 16%;
    left: 91.5%;
}

#espacio-tablero{
    position: relative;
    height: 100vh;
}

#error-vida-hidroponia{
    top: 22%;
    left: 16%;
    width: 22%;
    height: 18%;
    visibility: hidden;
}

#error-vida-piscicultura{
    top: 60%;
    left: 16%;
    width: 18%;
    height: 9%;
    visibility: hidden;
}

#img-alevines-1{
    position: absolute;
    top: 60%;
    left: 14.8%;
    height: 10%;
    width: 9%;
    visibility: hidden;
}

#img-alevines-2{
    position: absolute;
    top: 60%;
    left: 26.5%;
    height: 10%;
    width: 9%;
    visibility: hidden;
}

#img-bomba{
    position: absolute;
    top: 45.1%;
    left: 2.7%;
    height: 10.5%;
    width: 8%;
    visibility: hidden;
}

#img-biofiltro{
    position: absolute;
    top: 71.5%;
    left: 3.1%;
    height: 7%;
    width: 7%;
    visibility: hidden;
}

#img-desastre-1{
    position: absolute;
    top: 37.7%;
    left: 53.3%;
    height: 40%;
    width: 8.1%;
    visibility: hidden;
}

#img-desastre-2{
    position: absolute;
    top: 37.7%;
    left: 62.2%;
    height: 40%;
    width: 8.1%;
    visibility: hidden;
}

#img-desastre-3{
    position: absolute;
    top: 37.7%;
    left: 71%;
    height: 40%;
    width: 8.1%;
    visibility: hidden;
}

#img-desastre-4{
    position: absolute;
    top: 37.7%;
    left: 79.8%;
    height: 40%;
    width: 8.1%;
    visibility: hidden;
}

#img-desastre-5{
    position: absolute;
    top: 37.7%;
    left: 88.6%;
    height: 40%;
    width: 8.1%;
    visibility: hidden;
}

#img-peces-3{
    position: absolute;
    top: 75%;
    left: 20.5%;
    height: 10%;
    width: 9%;
    visibility: hidden;
    background-image: url("../img/Peces.png");
    background-size: cover;
    background-color: transparent;
    border-color: transparent;
    background-repeat: no-repeat;
}

#img-planta-1{
    position: absolute;
    top: 19.5%;
    left: 27%;
    height: 6.2%;
    width: 13.4%;
    visibility: hidden;
    background-image: url("../img/Planta.png");
    background-size: cover;
    background-color: transparent;
    border-color: transparent;
}

#img-planta-2{
    position: absolute;
    top: 27.9%;
    left: 27%;
    height: 6.4%;
    width: 13.4%;
    visibility: hidden;
    background-image: url("../img/Planta.png");
    background-size: cover;
    background-color: transparent;
    border-color: transparent;
}

#img-planta-3{
    position: absolute;
    top: 36.4%;
    left: 27%;
    height: 6.2%;
    width: 13.4%;
    visibility: hidden;
    background-image: url("../img/Planta.png");
    background-size: cover;
    background-color: transparent;
    border-color: transparent;
}

#img-plantula-1{
    position: absolute;
    top: 19.5%;
    left: 13.6%;
    height: 6.2%;
    width: 13.4%;
    visibility: hidden;
}

#img-plantula-2{
    position: absolute;
    top: 27.9%;
    left: 13.6%;
    height: 6.4%;
    width: 13.4%;
    visibility: hidden;
}

#img-plantula-3{
    position: absolute;
    top: 36.4%;
    left: 13.6%;
    height: 6.2%;
    width: 13.4%;
    visibility: hidden;
}

#img-tablero{
    height: 100%;
    pointer-events: none;
}

#inicio{
    background-image: url("../img/Principal.png");
    height: 100vh;
}

#marco-btn-continuar{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: 8%;
}

.marco-clickeable{
    background-color:#FFFFFF80;
    position: absolute;
    border-radius: 10%;
}

#marco-descripcion{
    height: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 140%;
    overflow-y: scroll;
    overflow-x: hidden;
}


.marco-instrucciones{
    background-color: #eef3c0;
    text-align: center;
    font-family: source-sans-pro,sans-serif;
    border-radius: 25px;
}

#marco-paso{
    margin: 5%;
    font-size: 100%;
}

#marco-ronda{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 220%;
    height: 8%;
}

#marco-siguiente-ronda{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: 16%;
    font-size: 180%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#marco-terreno{
    top: 31%;
    left: 50%;
    height: 48.7%;
    width: 48.7%;
    border-radius: 5%;
    visibility: hidden;
}

.marco-transparente{    
    position: absolute;
    border-radius: 10%;
    background-color: transparent;
}

.mensaje-error{
    position: absolute;
    background-color: red;
    color: white;
    font-family: source-sans-pro,sans-serif;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    font-size: 120%;
}


#produccion-campos{
    top: 85.5%;
    left: 90.9%;
    height: 6.8%;
    width: 7.2%;
}

#produccion-hidroponia{
    top: 85.5%;
    left: 71.9%;
    height: 6.8%;
    width: 7.2%;
}

#produccion-piscicola{
    top: 85.5%;
    left: 62.5%;
    height: 6.8%;
    width: 7.2%;
    text-align: center;
}

#produccion-silo{
    top: 85.5%;
    left: 81.5%;
    height: 6.8%;
    width: 7.2%;
}

#produccion-total{
    top: 85.5%;
    left: 52.6%;
    height: 6.8%;
    width: 7.2%;
    background-color: #e0e9ca;
}

#silo{
    top: 16%;
    left: 66.4%;
}

#tablero{
    height: 100vh;
    width: auto;
    overflow: hidden;
}

#texto-error-hidroponia{
    margin-top: 23%;
}

#texto-error-piscicultura{
    margin-top: 10%;
}

#vida-hidro-0{
    position: absolute;
    top: 13.4%;
    left: 25.2%;
    height: 4%;
    width: 9%;
    visibility: hidden;
}

#vida-hidro-1{
    position: absolute;
    top: 13.4%;
    left: 32.2%;
    height: 4%;
    width: 9%;
    visibility: hidden;
}

#vida-hidro-2{
    position: absolute;
    top: 13.4%;
    left: 39.1%;
    height: 4%;
    width: 9%;
    visibility: hidden;
}

#vida-tanque-0{
    position: absolute;
    top: 90%;
    left: 30%;
    height: 4%;
    width: 9%;
    visibility: hidden;
}

#vida-tanque-1{
    position: absolute;
    top: 90%;
    left: 36.9%;
    height: 4%;
    width: 9%;
    visibility: hidden;
}